<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652099771687-rqsvqrkjidn6i7o0887r8nhbahp88lgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652099771687-rqsvqrkjidn6i7o0887r8nhbahp88lgs</string>
	<key>API_KEY</key>
	<string>AIzaSyA0feVtISSF__QJD4ICsZ57QBFSSDUpmrc</string>
	<key>GCM_SENDER_ID</key>
	<string>652099771687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.efisheryBank</string>
	<key>PROJECT_ID</key>
	<string>efishery-bank-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>efishery-bank-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652099771687:ios:5b03a9c34a6165dda71d02</string>
</dict>
</plist>